<ion-content>
        <div style="display: flex; justify-content: space-between;">
          <ion-button fill="clear" style="margin-top: 35px; height: 50px;">
            <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/479px-WhatsApp_icon.png"  style="width: 45px;"></ion-img>
          </ion-button>
          <ion-button fill="clear" style="margin-top: 35px; height: 50px;">
            <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png"  style="width: 45px;"></ion-img>
          </ion-button>
          <ion-button fill="clear" style="margin-top: 35px; height: 50px;">
            <ion-img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5337_-_Snapchat-512.png"  style="width: 45px;"></ion-img>
          </ion-button>
          <ion-button fill="clear" style="margin-top: 35px; height: 50px;">
            <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/2491px-Logo_of_Twitter.svg.png"  style="width: 45px;"></ion-img>
          </ion-button>
          <ion-button fill="clear" style="margin-top: 35px; height: 50px;">
            <ion-img src="https://static-00.iconduck.com/assets.00/linkedin-icon-1024x1024-net2o24e.png"  style="width: 45px;"></ion-img>
          </ion-button>
        </div>
</ion-content>
